<div class="container mt-5">
  <div class="row">
    <div class="col-12">
     <div class="form-group">
        <label for="productName">Serch Product</label>
<input type="text" appDirectiveToLowercase class="form-control" id="productName">
     </div>
 
     <p basicCss>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
       <p appRendererCssHigh>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
    </div>
  </div>
</div>
